[Unit]
Description=Minecraft server - BungeeCord
After=local-fs.target network.target minecraft.service

[Service]
WorkingDirectory=/home/ubuntu/minecraft/bungeecord
User=ubuntu
Group=minecraft
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/java -Xmx512M -Xms512M -jar BungeeCord.jar

[Install]
WantedBy=multi-user.target